body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    display: block;
    overflow-x: hidden;
}

.encabezado {
    height: 10%;
    background-color: honeydew;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorTabla {
    height: 80%;
    margin: auto;
}

.pie {
    height: 10%;
    background-color: honeydew;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    width: 300px;
    font-size: 30px;
}

table{
    width: 100%;
    height: 100%;
    display: block;
    background-color: green;
    margin-bottom: 20px;
    border-collapse: collapse;
}

thead tr th, tfoot tr td {
    height: 40px;
}

thead th {
    border: 1px solid lightseagreen;
}

tbody tr{
    background-color: lightblue;
    text-align: initial;
}

tbody tr:nth-child(odd){
    background-color: lightgray;
}

tbody {
    max-height: 85%;
    height:85%;
    display:inline-block;
    overflow:auto;
}

thead, tfoot, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    height: 50px;
}

.boton {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 180px;
    font-size: 20px;
}

.controles {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 75%;
}