.buttonL{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 1px solid ;
}


.padre {
    /* IMPORTANTE */
    text-align: center;
}